* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@import 'variaveis.css';
@import 'keyframes';

.home {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/Nosso-Forro-anjo.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.container {
    max-width: 1360px;
    min-width: 400px;
    margin: 0 auto;
}

.header {
    background-color: #eee;
    position: fixed;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header .logo { 
    height: 100px;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.header .logo a {
    width: 30%;
    height: 100%;
    display: block;
    padding: .5rem 0;
}
.header .logo span::before {
    content: '*';
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
}
.header .logo span {
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    font-weight: bolder;
    font-style: italic;
    padding-left: 1rem;
}
.header .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.header .navbar {
    padding: .5rem;
}
.header .navbar ul {
    display: flex;
    list-style: none;
    
}
.header .navbar li {  
    padding: 13px;
    margin: 0px 12px;
    transition: all .5s;
    transform: translateY(0);
    position: relative;
}
/* .header .navbar li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #fff;
} */
.header .navbar li:hover{
    transform: translateY(10%); 
    color: rgb(241, 55, 55);   
}
.header .navbar a:hover{
    color: rgb(241, 55, 55);   
}
.header .navbar a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: #222;
  
    font-family: Arial, Helvetica, sans-serif;
    transition: all .5s;
}

/* Content TXT */

.content {
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.7)), url('../assets/heroBG.webp');
    background-size: cover;
    background-position: center;
    padding: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container-box {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container-box::before {
    content: '*';
    position: absolute;
    top: 95px;
    left: 25px;
    transform: translate(-50%, -50%);
    font-size: 5rem; 
    color: #fff;
}

.container-box::after {
    content: '*';
    position: absolute;
    top: 105px;
    right: -10px;
    transform: translate(-50%, -50%);
    font-size: 5rem; 
    color: #fff;
}

.container-box h1 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.container-box h3 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 1.5rem 0;
}
.container-box a{
    padding: 25px 32px;
    border: 2px solid red;
    border-radius:84px;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: all .4s;
    position: relative;
    display: block;
    overflow: hidden;
}
.container-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    background-color: aqua;
    width: 0%;
    height: 100%;
    transition: width 1s;
    z-index: -1;
    transform: skewX(60deg);
}
.container-box a:hover {
    color: red;
}
.container-box a:hover::before {
    width: 100%;
}

/* professors classes */

.about {
    width: 100%;
    padding-top: 2rem;
    background-color: #eee;
}

main {
    max-width: 1260px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.about-image {
    width: 35%;
    height: 600px;
    padding: 2.7rem;
    display: flex;
    align-items: end;
    justify-content: end;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info-content {
    width: 45%;
    padding-top: 4rem;
    margin-top: 2rem;
}
.info-content h1 {
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
.info-content span {
    width: 80px;
    height: 3px;
    background-color: #444;
    margin: 1rem 0;
    display: block;
}
.info-content p {
    font-size: 1.2rem;
    line-height: 1.7;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 40px;
    color: #333;
}


.classes {
    width: 100%;
    background-color: #eee;
    padding-top: 2rem;
}
.classes main {
    display: flex;
    justify-content: space-between;
}
.info-class {
    width: 70%;
    padding: 3rem 3rem 3rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}     
.info-class h1 {
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}
.info-class span {
    width: 100px;
    height: 3px;
    background-color: #555;
    margin: .8rem 0;
}
.info-class  h2 {
    font-size: 1.5rem;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1.8rem 0;
}
.info-class  ul {
    padding-left: 2rem;
}
.info-class ul li {
    font-size: 1.3rem;
    color: #222;
    margin: 1.4rem 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
.classes .class-image {
    width: 90%;
     
}
.classes .class-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 4rem;
}


.bg-image {
    height: 80vh;
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url('../assets/Nosso-Forro-dunas-other_exam.jpg');
    background-position: center;
    background-size: cover;
}

.footer {
    height: 45vh;
}
.footer .info-footer {
    max-width: 300px;
    margin: 0 auto;
    padding: 4px;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer .info-footer > div {
    margin: .5rem 0;
}
.footer .info-footer > div > span {
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
.footer .info-footer i {
    margin-right: 1.2rem;
    font-size: 1.3rem;
    color: #333;
}

.footer-bottom {
    text-align: center;
    padding: 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-color: #eee;
}
.footer-bottom span {
    margin-right: 1rem;
    color: #223;
}
.footer-bottom a {
    text-decoration: none;
    color: #333;
    transition: .3s ease;
}
.footer-bottom a:hover {
    color: crimson;
}
.footer-bottom a:active {
    border-bottom: 1px solid orangered;
}